/*The Google map
	Author: Google
	Source: Google map api
	Last accessed date: 20-5-2018
	Function: Google map*/
#map{
	height: 400px;
  width: 60%;
	margin-left:20%;
}
h2{
	padding:15px;
	margin-left:20%;
	border-bottom:solid;
	width:60%;
}
.information{
	margin-left:30%;
	padding:0px;
}
